*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.15);
}
.btn span {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
}
.btn span:first-child {
  background-image: -webkit-linear-gradient(top, #aab7c5, #78808f);
  border-radius: 2px;
  border-style: solid;
  border-color: #c1cad4 #a6afba #989fa9 #afbac6;
  box-shadow: 0 0 0 1px #8d98a4;
}
.btn span:last-child {
  background-image: -webkit-linear-gradient(top, #91b9e4, #4f79cf);
  border-radius: 0 2px 2px 0;
  border-style: solid;
  border-color: #accaeb #98bae5 #7698db #9cbde6;
  box-shadow: 0 0 0 1px #8d98a4;
  margin-left: -1px;
}
